/**** Common ****/

$base-font-size: 14px;
$white:#ffffff;
$black:#0c0c0c;
$brand--clr: #dceeef;
/* $path-to-fonts: "./assets/fonts/";
$path-to-images: "./assets/images/"; */

/**** Text color ****/
$color-red: #e51c21;
$color-sea-green: #00CC8D;
$color-pink: #ff5851;
$color-yellow: #fccd2b;
$text--clr: $white;
$text--clr-1: #a29b9b;
$bg--clr: $black;
$bg--clr-1: #191919;
$bg--clr-2: #2a2a2a;
$color-gray: #3a3952;

/**** Font Config ****/

$font-family: Arial,
Helvetica,
sans-serif;
$font-weight-bold: bold;
$font-weight-normal: normal;